{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% block css %}
        <!--<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block javascript %}

    {% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
    <div class="container">
        {% block header %}
        <div class="header">
            {% include 'mainapp/includes/inc_menu.html' %}
		</div>
        {% endblock %}
        <div class="clear_both"></div>
        {% block content %}

        {% endblock %}

        <div class="empty"></div>
    </div>
    <div class="clear_both"></div>
    {% block footer %}
        <div class="footer">
            <p>Центр Келдыша. Вадим Баженов. 2019 г.</p>
        </div>
    {% endblock %}
    {% else %}
        <div class="auth_content">
            <h3><a href="">Зарегистрируйтесь</a> или <a href="{% url 'auth:login' %}" >войдите</a></h3>
        </div>
    {% endif %}
</body>
</html>