<!DOCTYPE html>
<html>
<head>
	<title>Начальная страница</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<ul class="menu_main">
				<li><a href="">Главная</a></li>
				<li><a href="">Библиотека</a></li>
				<li><a href="">Моя Полка</a></li>
				<li><a href="">Мой Профиль</a></li>
			</ul>
			<form class="search_field">
						<fieldset>
							<legend>Поиск</legend>
							<input size="25" type="text" placeholder="Введите название статьи" name="search">
							<input type="submit" name="search_button" value="Начать">
						</fieldset>
			</form>
		</div>
		<div class="clear_both"></div>
		<div class="article">
			<img src="">
			<h1 class="article_name">Приветствую!</h1>
			<hr>
			<div class="abstract">Добро пожаловать в базу данных статей, посвящённых тематике
				Элеткроракетных Двигателей!<br>Надеюсь, что этот инструмент поможет Вам в поиске актуальных материалов
				и сделает его легче и приятнее.</div>
			<hr>
		<div class="clear_both"></div>
		<!--<div class="keldysh"></div>-->
		</div>
		<div class="clear_both"></div>
	</div>
	<div class="footer">
		<p>Центр Келдыша. Вадим Баженов. 2019 г.</p>	
	</div>
	
</body>
</html>