{% extends 'mainapp/base.html' %}
{% load staticfiles %}
	{% block content %}
		<div class="filters">
			<form>
				<h3>Фильтры</h3>
				<fieldset>
					<legend>Название статьи</legend>
					<input type="textbox" name="" >
				</fieldset>
				<fieldset>
					<legend>Автор</legend>
					<input type="textbox" name="" >
				</fieldset>
				<fieldset>
					<legend>DOI</legend>
					<input type="textbox" name="" >
				</fieldset>
				<fieldset>
					<legend>Год</legend>
					<input type="textbox" name="">
				</fieldset>
				<fieldset class="themes">
					<legend>Тематики</legend>
						<ul>
							{% for key, value in themes.items %}
							<li>
								<input type="checkbox" id="{{ key }}" name="">
								<label for="{{ key }}">{{ value }}</label>
							</li>
							{% endfor %}
						</ul>
				</fieldset>
				<fieldset class="sources">
					<legend>Источник</legend>
					<ul>
						{% for object in sources %}
						<li>
							<input type="checkbox" id="{{ object }}" name="">
							<label for="{{ object }}">{{ object.source }}</label>
						</li>
						{% endfor %}
					</ul>

				</fieldset>
				<fieldset>
					<legend>Публикация ЦК</legend>
					<input type="checkbox" name="">
				</fieldset>
				<fieldset>
					<input type="submit" value="Поиск">
				</fieldset>

			</form>
			
		</div>
		<div class="article_prev">
			<ul>
				{% for article in articles %}
				<li>
					<div class="article_i">
						<div class="article_title">
							<a href="#"> {{ article.title }}</a>
						</div>
						<div class="article_abstract">
							{{ article.abstract }}
						</div>
						<div class="article_themes">
							<ul>
								{% for theme in article.theme.get_list %}
								<li>
									{{ theme }}
								</li>
								{% endfor %}
							</ul>
							{{ article.themes }}
						</div>
						<div class="article_authors">
							<ul>
								{% for author in article.author.get_list %}
									<li>{{ author }}</li>
								{% endfor %}
							</ul>
						</div>
						<div class="article_year">{{ article.year }}
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="clear_both"></div>
	{% endblock %}