<ul class="menu_main">
    {% for link in links %}
        {% if link.name == "library:page" %}
            <li>
                <a href="{% url link.name '1' %}">
                    {{ link.title }}
                </a>
            </li>
        {% elif link.name == "bookshelf:page" %}
                <li>
                    <a href="{% url link.name '1' %}">
                        {{ link.title }}
                    </a>
                </li>
        {% else %}
            <li><a href="{% url link.name %}"
            class="{% if link.name == request.resolver_match.url_name %}
                   active
                   {% endif %}"
            >{{ link.title }}</a></li>
        {% endif %}
    {% endfor %}
    <li><a href="{% url 'auth:logout' %}">Выйти</a></li>
    {% if user.is_superuser %}
    <li><a href="{% url 'admin:index' %}">Управление</a></li>
    {% endif %}
</ul>
