html, body {
	height: 100%;
}
.container {
	width: 90%;
	min-width: 850px;
	min-height:100%;
	justify-content: center;
	margin-left: 50px;
	box-sizing: border-box;
}

.clear_both {
	clear:both;
}

.header {
    padding-top: 20px;
	height: 100px;
	min-width: 850px;
	border-bottom: solid #777777 2px;
}

.menu_main {
	list-style-type: none;
	float: left;
}

.menu_main li {
	float: left;
	margin-left: 25px;
}

.menu_main a {
	text-decoration: none;
	font-family: serif, "Times New Roman";
	font-weight: 200;
	font-size: 18px;
	color: black;
}

.active {
border-bottom: 1.5px solid #777777;
}

.search_field {
	margin-right: 20px;
	float: right;
	overflow: hidden;
	font-size: 18px;
}

.article {
	width: 500px;
}

.article_name {
	margin-left: 30px;
	color: black;
	text-decoration-style: none;
	font-weight: lighter;
}

.abstract {
	font-size: 18px;
	color: black;
	font-weight: 800px;
	line-height: 25px;
	text-indent: 30px;
}

.abstract:first-letter {
	font-size: 30px;
	color: darkred;
}

.empty{
	clear: both;
	height: 90px;
}

.footer {
	border-top: 2px solid #777777;
	margin-left: 50px;
	font-size: 12px;
	height: 80px;
	text-align: center;
	width: 90%;
	min-width: 850px;
	padding-top: 15px;
	clear: both;
	margin-top: -80px;
}

.filters {
	margin-top:30px;
	width: 220px;
	font-size: 16px;
	float: left;
	background-color: #eeeeee;
	margin-right: 50px;
}


.filter .themes {
	padding: 0px;
}

.filters ul {
	margin-block-start: 5px;
	list-style-type: none;
	padding-inline-start: 5px;
}

.filters li {
	float: left;
}

.article_prev {
	margin-top: 30px;
	overflow: hidden;
	padding-left: 20px;
}

.article_i {
	margin-top: 20px;
	border-bottom: 2px solid black;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.article_i ul {
	list-style-type: none;
}

.article_title a {
	text-decoration: none;
	color: darkred;
	font-size: 18pt;
}

.article_abstract {
	margin-top: 15px;
}

.article_themes {
	border-top: 0.5px solid grey;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 300px;
}

.article_authors {
	border-top: 0.5px solid grey;
	margin-top: 10px;
	width: 300px;
}

.article_year {
	border-top: 0.5px solid grey;
	margin-top: 10px;
	width: 260px;
	padding-left: 40px;
}

.article_actions ul {
	list-style-type: none;
}

.article_actions li {
	float: left;
	margin-right: 30px;
}

.article_actions a {
	text-decoration: none;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}

form_control ul {
    list-style-type: none;
}

.auth_content {
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
}